*{
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
}

body {
    height: 100vh;
    background-color: #05386B;
}

header{
    display: flex;
    justify-content: center;
    letter-spacing: 10px; 
    color: #edf5e1;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #edf5e1;
    text-align: center;
}

.topBar{
    display: flex;
    justify-content: space-evenly;
    color: #edf5e1;
}

.gameStatus {
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    color: #edf5e1;
}

#timer {
    letter-spacing: 5px;
}

#game-board {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    /* 3d effect */
    perspective: 1000px; 
}

.game-card {
    margin: 5px;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    position: relative;
    transform: scale(1);
    /* 3d effect */
    transform-style: preserve-3d;
    transition: transform .5s;
}

.game-card.flip {
    transform: rotateY(180deg);
}

.game-card:active {
    transform: scale(.97);
    transition: transform .2s;
}


.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #379683;
    backface-visibility: hidden;
}

.front-face{
    transform: rotateY(180deg);
}

button {
    color: #edf5e1;
    background-color: #379683;
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 50px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.25s;
}

button:active {
    background-color: #308473;
}



