* {
    box-sizing: border-box;
}

body {
    background-color: #05386B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Belanosima', sans-serif;
    color: #edf5e1;
}

button {
    height: 10vh;
    width: 30vh;
    background-color: #379683;
    border-radius: 5vh;
    border-style: none;
    font-size: 40px;
    color: #edf5e1;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.25s;
}

button:active {
    background-color: #308473;
}

.title {
    letter-spacing: 5px;
    font-size: 70px;
}

.question {
    letter-spacing: 5px;
}

